* {
    font-family: 'Inconsolata', monospace;
    color: #0063A7 ;
}
.container-fluid {
   background-color: #31AF91 ;
   border-radius: 0px 0px 100% 100% ;
   color: #040000 ;
   margin-top: 3px ;
   margin-bottom: 5px ;
   position: relative;
    
}
/*
.container-fluid::after{
    content: ' ';
    background-color: #ffffff;
    width: 600px;
    height: 70px;
    position: absolute;
    right: 50px;
    bottom: 0px;
    transform: skew(20deg);
} */
.nav-link ,.navbar-brand  {
    color: white !important ;
    font-size:1.3em ;
    margin-left: 2em ;
}
.parallax {
    height: 300px ;
    width: 100% ;
    background-image: url(Images/739905.png);
    background-attachment: fixed ;
    background-position: center ;
    color: white ;
    display: flex ;
    align-items: center ;
}
.par-text{
    color : white ;
    font-size: 2em ;
    font-weight: bolder ;
}
.parallax2 {
    background-image: url(Images/pexels-photo-91229.jpeg) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    margin-top: 10px ;
    text-align: center ;
}
.bun {
    border: 1px solid black ;
    border-radius: 15px ;
    padding: 10px ;
    font-size: 2.1em ;
    font-weight: bold ;
    display: inline-block;
}
.lorem {
    height: 120px ;
    width: 400px ;
    margin: auto ;
    
}
.percent {
    background-image: url(Images/Footer.png);
    background-size: cover ;
}
.circle {
    border: 10px solid #39B54A ;
    width: 250px ;
    height : 250px ;
    border-radius: 50% ;
    font-weight: bold;
    color :black !important ;
    font-size: 2.3em ;
    font-weight: bold ;
}
.text-left {
    padding-top: 150px ;
    color : white ;
}
@media only screen and (max-width : 380px){
.para-img {
width: 150px !important  ;
height: 150px !important  ;
}
 
}